<!DOCTYPE html>
<html>

<head>
  <title>SPSO-Login</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>


  <div class="kotak_login">
    <p class="tulisan_login">Register</p>

    <form action="/register" method="post">
      <label>Nama</label>
      <input type="text" name="nama" class="form_login" placeholder="Nama Sesuai KTP">

      <label>Alamat</label>
      <input type="text" name="alamat" class="form_login" placeholder="Alamat Sekarang">

      <label>No Telpon</label>
      <input type="text" name="tlp" class="form_login" placeholder="No Telpon Aktif">

      <label>Username</label>
      <input type="text" name="username" class="form_login" placeholder="Username atau email ..">

      <label>Password</label>
      <input type="text" name="password" class="form_login" placeholder="Password ..">

      <input type="submit" class="tombol_login" value="Register">

      <br />
      <p>Sudah Punya Akun? <a href="/login">Login Sekarang</a></p>
      <br />
    </form>

  </div>


</body>

</html>